body {
    margin: 0 auto;
    font-family: "fira-sans", "微軟正黑體","Micorosft  JhengHei",sans-serif;
    font-style: normal;
    line-height: 1;
    color: #797979;
}

a {
    text-decoration: none;
    color: rgb(130, 130, 130);
}

a:hover {
    color: rgb(50, 50, 50);
}

ul li {
    list-style: none;
}

li {
    display:inline;
}

p {
    color: #555555;
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 24px;
}

.header {
    position: fixed;
    max-width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 230px;
    padding: 60px 0;
    z-index: 21;
}

.linemenu {
    display: inline;
    padding: 0 50px;
}

.mainmenu {
    display: inline;
    padding: 5px 10px;
    font-size: 12pt;
    font-weight: lighter;
    color: rgba(130, 130, 130, 0.9);
    letter-spacing: 1px;
}

.head-space {
    margin: 280px 0 0 0;
}

.column {
    padding-top: 230px; }

#article {
    position: relative; }

.about1 {
    max-width: 1020px;
    margin: 0 auto;
    padding-bottom: 100px; }

.pagetag {
    font-size: 20px;
    line-height: 100%; }

.pageHeader {
    float: left;
    padding-right: 40px; }

.wrap {
    text-align: justify;
    width: 485px;
    float: right; }